{% comment %}
    Copyright 2012 Sebastien Maccagnoni-Munch

    This file is part of OSPFM.

    OSPFM is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published
    by the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    OSPFM is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with OSPFM.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}
<html>

    <head>
        <title>OSPFM, developer instance</title>
    </head>

    <body>
        <p>The website you are viewing is a tool to help developers work with
        OSPFM. It is by no means a usable finance tool.</p>
        <div style="text-align:right">
            <a href="/admin">Admin access</a>
            &ndash;
            <a href="{% url home %}">Home</a>
            &ndash;
            <a href="{% url logout %}">Log out</a>
        </div>
        {% block content %}{% endblock %}
        <a href="http://www.github.com/tiramiseb/ospfm">
            OSPFM is published under the GNU Affero General Public License
            &mdash; details by clicking on this link
        </a>
    </body>

</html>
